.search {
    visibility: hidden;
}

.content i { 
font-size: 25px;
}

.form {
    width: 80%;
    margin: auto;
    margin-top: 2%;
    padding: 1%;
}

.botones {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.botones button {
    width: 100%;
}