* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    gap: 10px;
    width: 100%;
}

/* SLIDER */

.slider {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
}

.slider-content { 
    position: relative;
    width: 93%;
    height: 500px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 15px;
    overflow: hidden;
}

.slider-content-items {
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}



/* OFERTAS */

.ofertas { 
    width: 100%;
}

.ofertas-content {
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

.content-text {
    margin: 1% 0%;
    color: #413C36;
}

.ofertas-content-item1 {
    display: grid;
    grid-template-columns: 49.3% 49.3%;
    gap: 20px;
    margin-bottom: 2%;
}

.ofertas-item-b {
    display: grid;
    grid-template-columns: 65% 25%;
    gap: 20px;
    border: #807D79 solid 1px;
    border-radius: 12px;
    padding: 20px;
}

.ofertas-content-item1-1-text p{
    padding: 3%;
}

.oferta-btn {
    background-color: #BF2B2B;
    border-radius: 12px;
    text-align: center;
}

.oferta-btn:hover {
    background-color: #C53F3F;
}

.btn-1 {
    width: 35%;
}

.btn-2 {
    width: 50%;
}

.ofertas-content-item-img img{
    border-radius: 12px;
}

.ofertas-content-item2-1 {
    margin: 5% 0;
}

.ofertas-content-item2 {
    background-color: #86A0C1;
    display: grid;
    grid-template-columns: 23.7% 23.7% 23.7% 23.7%;
    gap: 20px;
    border-radius: 12px;
    font-size: 25px;
    padding: 10px;
    color: #fff;
}

.ofertas-content-item2-box {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #596A80;
    padding: 5%;
    border-radius: 12px;
    gap: 10px;
}

.ofertas-content-item2-box i{
    font-size: 70px;
}

.ofertas-content-item2-p {
    font-size: 20px;
}


/* MODA */

.moda { 
    width: 100%;
}

.moda-content { 
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

.moda-content-item1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.moda-content-card {
    position: relative;
}

.moda-content-card img{
    border-radius: 12px;
    width: 100%;
    height: 60%;
}

.moda-content-card:hover {
    opacity: 0.5;
}

.moda-content-card-topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.moda-content-item2 {
    margin-top: -13%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

/* CATEGORIA */

.categoria { 
    width: 100%;
    margin-top: -10%;
}

.categoria-content { 
    padding: 20px 0;
    width: 90%;
    margin: auto;
}

.categoria-content-item { 
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
}

.categoria-item:hover {
    border: 1px solid #596A80;
}

.categoria-item img {
    width: 100%;
    height: 250px;
}

.categoria-content-item-descripcion {
    padding: 15px;
    font-weight: bold;
}